@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{ 
    overflow-x : hidden; 
}
@media (min-width:1024px) {
    .corefeaturesection{
        background-size: 100% 90%;
        padding-top: 12rem;
        padding-bottom: 12rem;
    }
}

.featuresection2{
    background-size: 200% 100%;
}    
.ctasection{
    background-size: 100% 100%;
}
.moveImage{
    animation: 10s infinite linear moveCompany;
}
@keyframes moveCompany{
    0%{
        top: 0%;
    }
    100%{
        top:-78%
    }
}